@model IEnumerable<BookWebsite.Models.BookViewModel>



<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="postedFile" />
        <input type="submit" value="Import" />
    }
    @if (Model.Count() > 0)
    {
        <hr />
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>Name</th>
                <th>Thumbnails</th>
                <th>DownloadSize</th>
            </tr>
            @foreach (BookWebsite.Models.BookViewModel customer in Model)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.Thumbnails</td>
                    <td>@customer.DownloadSize</td>
                </tr>
            }
        </table>
    }
</div>
